@import 'tailwindcss';
@plugin 'tailwindcss-animate';
@custom-variant dark (&:is(.dark *));

@theme inline {
    --shadow-input:
            0px 2px 3px -1px rgba(0, 0, 0, 0.1),
            0px 1px 0px 0px rgba(25, 28, 33, 0.02),
            0px 0px 0px 1px rgba(25, 28, 33, 0.08);
    --animate-shine:
            shine var(--duration) infinite linear;
  @keyframes shine {
  0% {
    background-position:
            0% 0%;
        }
  50% {
    background-position:
            100% 100%;
        }
  to {
    background-position:
            0% 0%;
        }
    }
}

@theme {
    --font-sans:
            'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --radius-lg: var(--radius);
    --radius-md: calc(var(--radius) - 2px);
    --radius-sm: calc(var(--radius) - 4px);

    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);

    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);

    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);

    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);

    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);

    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);

    --color-hovered: var(--hovered);

    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);

    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);

    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);

    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    --color-ceramic-gray-50: var(--ceramic-gray-50);
    --color-ceramic-gray-100: var(--ceramic-gray-100);
    --color-ceramic-gray-200: var(--ceramic-gray-200);
    --color-ceramic-gray-300: var(--ceramic-gray-300);
    --color-ceramic-gray-400: var(--ceramic-gray-400);
    --color-ceramic-gray-500: var(--ceramic-gray-500);
    --color-ceramic-gray-600: var(--ceramic-gray-600);
    --color-ceramic-gray-700: var(--ceramic-gray-700);
    --color-ceramic-gray-800: var(--ceramic-gray-800);
    --color-ceramic-gray-900: var(--ceramic-gray-900);
    --color-ceramic-gray-1000: var(--ceramic-gray-1000);
    --color-ceramic-gray-1100: var(--ceramic-gray-1100);
    --color-ceramic-gray-1200: var(--ceramic-gray-1200);
    --color-ceramic-gray-1300: var(--ceramic-gray-1300);
    --color-ceramic-gray-1400: var(--ceramic-gray-1400);
    --color-ceramic-gray-1500: var(--ceramic-gray-1500);
}

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

:root {
    --ceramic-gray-50: #fafafb;
    --ceramic-gray-100: #f6f6f7;
    --ceramic-gray-200: #ececee;
    --ceramic-gray-300: #dbdbe0;
    --ceramic-gray-400: #c7c7cf;
    --ceramic-gray-500: #adadb7;
    --ceramic-gray-600: #90909d;
    --ceramic-gray-700: #767684;
    --ceramic-gray-800: #5f5f6f;
    --ceramic-gray-900: #4c4c5c;
    --ceramic-gray-1000: #3d3d4a;
    --ceramic-gray-1100: #33333e;
    --ceramic-gray-1200: #2b2b34;
    --ceramic-gray-1300: #232328;
    --ceramic-gray-1400: #1b1b1f;
    --ceramic-gray-1500: #111113;
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --hovered: oklch(0.89 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --destructive-foreground: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.87 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --radius: 0.625rem;
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.87 0 0);
}

.dark {
    --ceramic-gray-50: #111113;
    --ceramic-gray-100: #1b1b1f;
    --ceramic-gray-200: #232328;
    --ceramic-gray-300: #2b2b34;
    --ceramic-gray-400: #33333e;
    --ceramic-gray-500: #3d3d4a;
    --ceramic-gray-600: #4c4c5c;
    --ceramic-gray-700: #5f5f6f;
    --ceramic-gray-800: #767684;
    --ceramic-gray-900: #90909d;
    --ceramic-gray-1000: #adadb7;
    --ceramic-gray-1100: #c7c7cf;
    --ceramic-gray-1200: #dbdbe0;
    --ceramic-gray-1300: #ececee;
    --ceramic-gray-1400: #f6f6f7;
    --ceramic-gray-1500: #fafafb;
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.145 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.145 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.985 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --hovered: oklch(0.27 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.396 0.141 25.723);
    --destructive-foreground: oklch(0.637 0.237 25.331);
    --border: oklch(0.269 0 0);
    --input: oklch(0.269 0 0);
    --ring: oklch(0.439 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.985 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(0.269 0 0);
    --sidebar-ring: oklch(0.439 0 0);
}

@media (prefers-color-scheme: dark) {
    :root {
        --ceramic-gray-50: #fafafb;
        --ceramic-gray-100: #f6f6f7;
        --ceramic-gray-200: #ececee;
        --ceramic-gray-300: #dbdbe0;
        --ceramic-gray-400: #c7c7cf;
        --ceramic-gray-500: #adadb7;
        --ceramic-gray-600: #90909d;
        --ceramic-gray-700: #767684;
        --ceramic-gray-800: #5f5f6f;
        --ceramic-gray-900: #4c4c5c;
        --ceramic-gray-1000: #3d3d4a;
        --ceramic-gray-1100: #33333e;
        --ceramic-gray-1200: #2b2b34;
        --ceramic-gray-1300: #232328;
        --ceramic-gray-1400: #1b1b1f;
        --ceramic-gray-1500: #111113;
        --background: oklch(1 0 0);
        --foreground: oklch(0.145 0 0);
        --card: oklch(1 0 0);
        --card-foreground: oklch(0.145 0 0);
        --popover: oklch(1 0 0);
        --popover-foreground: oklch(0.145 0 0);
        --primary: oklch(0.205 0 0);
        --primary-foreground: oklch(0.985 0 0);
        --secondary: oklch(0.97 0 0);
        --secondary-foreground: oklch(0.205 0 0);
        --muted: oklch(0.97 0 0);
        --muted-foreground: oklch(0.556 0 0);
        --accent: oklch(0.97 0 0);
        --hovered: oklch(0.89 0 0);
        --accent-foreground: oklch(0.205 0 0);
        --destructive: oklch(0.577 0.245 27.325);
        --destructive-foreground: oklch(0.577 0.245 27.325);
        --border: oklch(0.922 0 0);
        --input: oklch(0.922 0 0);
        --ring: oklch(0.87 0 0);
        --chart-1: oklch(0.646 0.222 41.116);
        --chart-2: oklch(0.6 0.118 184.704);
        --chart-3: oklch(0.398 0.07 227.392);
        --chart-4: oklch(0.828 0.189 84.429);
        --chart-5: oklch(0.769 0.188 70.08);
        --radius: 0.625rem;
        --sidebar: oklch(0.985 0 0);
        --sidebar-foreground: oklch(0.145 0 0);
        --sidebar-primary: oklch(0.205 0 0);
        --sidebar-primary-foreground: oklch(0.985 0 0);
        --sidebar-accent: oklch(0.97 0 0);
        --sidebar-accent-foreground: oklch(0.205 0 0);
        --sidebar-border: oklch(0.922 0 0);
        --sidebar-ring: oklch(0.87 0 0);
    }

    .dark {
        --ceramic-gray-50: #111113;
        --ceramic-gray-100: #1b1b1f;
        --ceramic-gray-200: #232328;
        --ceramic-gray-300: #2b2b34;
        --ceramic-gray-400: #33333e;
        --ceramic-gray-500: #3d3d4a;
        --ceramic-gray-600: #4c4c5c;
        --ceramic-gray-700: #5f5f6f;
        --ceramic-gray-800: #767684;
        --ceramic-gray-900: #90909d;
        --ceramic-gray-1000: #adadb7;
        --ceramic-gray-1100: #c7c7cf;
        --ceramic-gray-1200: #dbdbe0;
        --ceramic-gray-1300: #ececee;
        --ceramic-gray-1400: #f6f6f7;
        --ceramic-gray-1500: #fafafb;
        --background: oklch(0.145 0 0);
        --foreground: oklch(0.985 0 0);
        --card: oklch(0.145 0 0);
        --card-foreground: oklch(0.985 0 0);
        --popover: oklch(0.145 0 0);
        --popover-foreground: oklch(0.985 0 0);
        --primary: oklch(0.985 0 0);
        --primary-foreground: oklch(0.205 0 0);
        --secondary: oklch(0.269 0 0);
        --secondary-foreground: oklch(0.985 0 0);
        --muted: oklch(0.269 0 0);
        --muted-foreground: oklch(0.708 0 0);
        --accent: oklch(0.269 0 0);
        --hovered: oklch(0.27 0 0);
        --accent-foreground: oklch(0.985 0 0);
        --destructive: oklch(0.396 0.141 25.723);
        --destructive-foreground: oklch(0.637 0.237 25.331);
        --border: oklch(0.269 0 0);
        --input: oklch(0.269 0 0);
        --ring: oklch(0.439 0 0);
        --chart-1: oklch(0.488 0.243 264.376);
        --chart-2: oklch(0.696 0.17 162.48);
        --chart-3: oklch(0.769 0.188 70.08);
        --chart-4: oklch(0.627 0.265 303.9);
        --chart-5: oklch(0.645 0.246 16.439);
        --sidebar: oklch(0.205 0 0);
        --sidebar-foreground: oklch(0.985 0 0);
        --sidebar-primary: oklch(0.985 0 0);
        --sidebar-primary-foreground: oklch(0.985 0 0);
        --sidebar-accent: oklch(0.269 0 0);
        --sidebar-accent-foreground: oklch(0.985 0 0);
        --sidebar-border: oklch(0.269 0 0);
        --sidebar-ring: oklch(0.439 0 0);
    }
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }

    body {
        @apply bg-background text-foreground font-sans antialiased mb-0! dark:bg-neutral-900 overflow-x-hidden dark:text-white selection:bg-amber-500 selection:text-white;
    }
}

@keyframes dynamicIsland {
    0% {
        transform: scaleX(0.5) scaleY(0.8);
        opacity: 0;
    }
    50% {
        transform: scaleX(1.1) scaleY(1.2);
        opacity: 1;
    }
    100% {
        transform: scaleX(1) scaleY(1);
        opacity: 1;
    }
}

.animate-dynamicIsland {
    animation: dynamicIsland 400ms cubic-bezier(0.25, 1, 0.5, 1);
}

@keyframes scaleIn {
    0% {
        filter: blur(10px);
        transform: scale(.85);
        opacity: 0
    }

    to {
        filter: blur(0);
        transform: scale(1);
        opacity: 1
    }
}

@keyframes shimmer {
    0% {
        opacity: 1;
        transform: skewX(-45deg) translateX(-300%)
    }

    to {
        opacity: 1;
        transform: skewX(-45deg) translateX(600%)
    }
}